
{% extends 'base.html' %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="{{message.extra_tags}}"> {{message}}</div>
        {% endfor %}
    {% endif %}

    <h1 class="display-1"> Log in to Ai Earth Monitor</h1>

    {% if password_msg %}
        <div class="notification is-danger">
            <p>{{password_msg}}</p>
        </div>
    {% endif %}
    {% if user_msg %}
        <div class="notification is-danger">
            <p>{{user_msg}}</p>
        </div>
    {% endif %}
    <form class="my-5" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
          <label for="{{field.id_for_label}}" class="label">{{field.label}}</label>
          <div class="control">{{field}}</div>
          <small class="is-danger" style="color:crimson"> {{field.errors}} </small>
          <br>
        {% endfor %}

        <button type="submit" class="btn btn-success mt-4" > Log in to Ai Earth Monitor </button>

    </form>

{% endblock %}